.container {
  background-color: rgb(0, 225, 255);
  height: 50vh;
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

label {
  display: block;
}
